@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Patients BMI</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <li>@Html.ActionLink("List number of patients by Category", "PatientsCategoryCounter", "PatientBMIs")</li>
    </div>
    <div class="col-md-4">
        <li>@Html.ActionLink("Import Json file", "PopulatePatientsBMI", "PatientBMIs")</li>
    </div>
    <div class="col-md-4">
        <li>@Html.ActionLink("Show Patient Information", "GetPatientInformation", "PatientBMIs")</li>
    </div>
</div>